@import "tailwindcss";
@plugin "daisyui";


.active{
    color: gray;
}

.bgImg{
    background-image: url('./assets/gallery-6.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}